@charset "utf-8";
.txt_on { border: 1px solid #0DA9D8 !important; }

.hyinTemplate .search-box input.changedEditableCell { background: none; }
.hyinTemplate .search-box input.calendarField { background: url("../js/cvcaf/images/ico_cal.gif") no-repeat 97% 49%; }
.hyinTemplate span.btn_common_wrap { margin-bottom: 5px; }
.hyinTemplate table span.btn_common_wrap { margin-bottom: 0px; }
.hyinTemplate .search-box span.btn_common_wrap { margin-bottom: 0px; }
.hyinTemplate .fl { float: left; }
.hyinTemplate .fr { float: right; }
.hyinTemplate .cb { clear: both; }

.hyinTemplate,
.hyinTemplate input,
.hyinTemplate select,
.hyinTemplate textarea { font: 12px "나눔고딕", "맑은 고딕", "dotum", "Segoe UI", sans-serif; }

.hyinTemplate .mb-0 { margin-bottom: 0px; }
.hyinTemplate .mb-3 { margin-bottom: 3px; }
.hyinTemplate .mb-5 { margin-bottom: 5px; }
.hyinTemplate .mb-10 { margin-bottom: 10px; }
.hyinTemplate .mb-15 { margin-bottom: 15px; }
.hyinTemplate .mb-20 { margin-bottom: 20px; }
.hyinTemplate .mb-25 { margin-bottom: 25px; }
.hyinTemplate .mb-30 { margin-bottom: 30px; }
.hyinTemplate .mb-35 { margin-bottom: 35px; }
.hyinTemplate .mb-40 { margin-bottom: 40px; }

.hyinTemplate .mr-5 { margin-right: 5px; }
.hyinTemplate .mr-10 { margin-right: 10px; }
.hyinTemplate .mr-20 { margin-right: 20px; }

.hyinTemplate .focus-arrow { padding-left: 20px; background: url("../images/icon/bul_arrow_g.gif") no-repeat 10px 50%; }

.hyinTemplate .section-list-box { margin-right : 2%; float: left; }
.hyinTemplate .section-list-box-last { overflow: hidden; }
.hyinTemplate .section-list-box-clear { clear: both; }

.hyinTemplate h4 { padding-left: 18px; background: url("../images/icon/ico_table_article_01.gif") no-repeat left top; }
.hyinTemplate h5 { padding-left: 18px; background: url("../images/icon/ico_top_quick.gif") no-repeat left 2px; font-weight: normal;}
.hyinTemplate h5.sub { padding-left: 18px; font-weight: normal; background: none;}
.hyinTemplate table { width: 100%; clear: both; }

.hyinTemplate h4,
.hyinTemplate h5,
.hyinTemplate h5.sub { margin-bottom: 5px; }

.hyinTemplate h4.cWithBtn { margin-bottom: 0px; margin-top: 5px; }
.hyinTemplate h4.bWithBtn { margin-bottom: 0px; margin-top: 9px; }

.hyinTemplate p,
.hyinTemplate ul,
.hyinTemplate table,
.hyinTemplate .search-box,
.hyinTemplate .bd-box,
.hyinTemplate .more-box,
.hyinTemplate div.rootContainer { margin-bottom: 17px; }

.hyinTemplate li h5,
.hyinTemplate td h5,
.hyinTemplate li h5.sub,
.hyinTemplate td h5.sub { line-height: 120%; margin-bottom: 7px;}

.hyinTemplate li p,
.hyinTemplate td p,
.hyinTemplate .more-box p,
.hyinTemplate li ul,
.hyinTemplate td ul,
.hyinTemplate .more-box ul,
.hyinTemplate td table,
.hyinTemplate .more-box table,
.hyinTemplate .search-box .bd-box,
.hyinTemplate div.rootContainer table.dataGridContainer { margin-bottom: 0px; }

.hyinTemplate table tr th { text-align: center; background: #F4F4F4; }
.hyinTemplate table tfoot tr td { background: #F4F4F4; }
.hyinTemplate table tr th,
.hyinTemplate table tr td { padding: 4px 0; height: 20px; font-weight: normal; line-height: 130%; border: 1px solid #E1E1E1;}
.hyinTemplate table tr td { padding: 4px 5px; }
.hyinTemplate table.list tr th,
.hyinTemplate table.list tr td { border-left: none; border-right: none; }
.hyinTemplate ul.text-list li { line-height: 150%; margin-bottom: 0px; }
.hyinTemplate .color-skyblue { color: #0DABDC; }
.hyinTemplate .bd-box { padding: 5px; border: 1px solid #D7D7D7; overflow: hidden; }
.hyinTemplate .bd-box ul li { line-height: 150%; float: left; }
.hyinTemplate .bd-box ul.w-25  li { width: 25%; }
.hyinTemplate .bd-box ul.w-33 li { width: 33%; }
.hyinTemplate .bd-box ul.w-50  li { width: 50%; }
.hyinTemplate .bd-box ul.w-100  li { width: 100%; }
.hyinTemplate .small-warning-box { display: inline-block; padding-left: 20px; line-height: 130% !important; background: url("../images/icon/ico_warning_small.png") no-repeat left top; }

.hyinTemplate .link-pop { color: #24BAE8; border-bottom: 1px solid #24BAE8; padding-bottom: 1px; padding-right: 11px; background: url("../images/icon/ico_link_pop.gif") no-repeat right 50%; }
.hyinTemplate .link { color: #24BAE8; border-bottom: 1px solid #24BAE8; padding-bottom: 1px; cursor: pointer; }

.hyinTemplate table.color-header tr th { color: #FFF; background: #8A96A2; border: 1px solid #91ABC3; font-weight: bold !important; }
.hyinTemplate table.color-header tr td { border: 1px solid #D3DDE7; }

.hyinTemplate .search-box { padding: 10px; border: 1px solid #A0CAF0; }
.hyinTemplate .search-box .bd-box,
.hyinTemplate .search-box table { border: none; padding: 0px;}

.hyinTemplate .more-box { padding: 15px; border: 1px solid #E5E4E5; position: relative; }
.hyinTemplate .more-box .lt, .more-box .rt,
.hyinTemplate .more-box .lb, .more-box .rb { width: 13px; height: 13px; position: absolute; overflow: hidden; }
.hyinTemplate .more-box .lt { background: url("../images/bg/box_round_lt.gif") no-repeat left top; left: -1px; top: -1px; }
.hyinTemplate .more-box .rt { background: url("../images/bg/box_round_rt.gif") no-repeat left top; right: -1px; top: -1px; }
.hyinTemplate .more-box .lb { background: url("../images/bg/box_round_lb.gif") no-repeat left top; left: -1px; bottom: -1px; }
.hyinTemplate .more-box .rb { background: url("../images/bg/box_round_rb.gif") no-repeat left top; right: -1px; bottom: -1px; }
.hyinTemplate .more-box .ico { position: absolute; top: 0; right: 14px; }

.hyinTemplate .alert-box { padding: 15px; text-align: center; border: 1px solid #E5E4E5; border-top: none; position: relative; }
.hyinTemplate .alert-box .top { margin: -15px -16px 30px; padding-top: 7px; height: 23px; background: url("../images/bg/box_round_top_m.gif") repeat-x left top; position: relative; }
.hyinTemplate .alert-box .top span { display: inline-block; width: 13px; height: 30px; position: absolute; }
.hyinTemplate .alert-box .top .t_l { background: url("../images/bg/box_round_top_l.gif") no-repeat left top; left: 0; top: 0; }
.hyinTemplate .alert-box .top .t_r { background: url("../images/bg/box_round_top_r.gif") no-repeat right top; right: 0; top: 0; }
.hyinTemplate .alert-box .ico { position: absolute; top: 0; right: 14px; }
.hyinTemplate .alert-box .lb, .alert-box .rb { width: 13px; height: 13px; position: absolute; overflow: hidden; }
.hyinTemplate .alert-box .lb { background: url("../images/bg/box_round_lb.gif") no-repeat left top; left: -1px; bottom: -1px; }
.hyinTemplate .alert-box .rb { background: url("../images/bg/box_round_rb.gif") no-repeat left top; right: -1px; bottom: -1px; }
.hyinTemplate .alert-box .text { font-weight: bold; text-align: center; line-height: 150%; }
.hyinTemplate .alert-box .text p { display: inline-block; text-align: left; }

.hyinTemplate .select-list-box { margin-right: 20px; width: 230px;  float: left; }
.hyinTemplate .select-list-box table tbody tr td a { padding-left: 20px; background: url("../images/icon/bul_arrow_g.gif") no-repeat 10px 50%; position: relative; }
.hyinTemplate .select-list-box table.select tbody tr,
.hyinTemplate .select-list-box table.select-multy tbody tr { cursor: pointer; }
.hyinTemplate .select-list-box table.select tbody tr.selected td a,
.hyinTemplate .select-list-box table.select-multy tbody tr.selected td a,
.hyinTemplate .select-list-box table.hover tbody tr:hover td a { padding-left: 20px; background: url("../images/icon/bul_arrow_w.gif") no-repeat 10px 50%; position: relative; color: #FFFFFF; }
.hyinTemplate .select-list-box table.select tbody tr.selected,
.hyinTemplate .select-list-box table.select-multy tbody tr.selected,
.hyinTemplate .select-list-box table.hover tbody tr:hover {
    /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#448BD8', endColorstr='#3D7EC5'); */
    background: linear-gradient(top, #448BD8, #3D7EC5);
    background: -ms-linear-gradient(top,  #448BD8, #3D7EC5);
    background: -moz-linear-gradient(top, #448BD8, #3D7EC5);
    background: -o-linear-gradient(#448BD8, #3D7EC5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#448BD8), to(#3D7EC5));
    background-color: #448BD8;
}
.hyinTemplate .selected-list-box { overflow: hidden; }
.hyinTemplate .content-line{ overflow-y: auto;overflow-x: hidden;white-space: pre-line;word-break: break-all; }


/* 기본CSS 속성 무시 innoditor 본문 표시용 noneStyle */
.hyinTemplate .noneStyle h4 { padding: 0; background: none; }
.hyinTemplate .noneStyle h5 { padding: 0; background: none; font-weight: normal; }
.hyinTemplate .noneStyle table { width: auto; }
.hyinTemplate .noneStyle p { margin-top: 2px; margin-bottom: 2px;}
.hyinTemplate .noneStyle h4,
.hyinTemplate .noneStyle h5,
.hyinTemplate .noneStyle ul,
.hyinTemplate .noneStyle table,
.hyinTemplate .noneStyle div { margin: 0; line-height: 1; }
.hyinTemplate .noneStyle span { margin: 0; line-height: normal; }
.hyinTemplate .noneStyle li h5,
.hyinTemplate .noneStyle td h5 { line-height: 1; margin: 0; }
.hyinTemplate .noneStyle table tr th { text-align: inherit; background: none; font-weight: normal; }
.hyinTemplate .noneStyle table tfoot tr td { background: none; }
.hyinTemplate .noneStyle table tr th,
.hyinTemplate .noneStyle table tr td { padding: 0; font-weight: normal; line-height: 1; border: none; }