<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<body>
<h3 style="text-align: center;">메인 페이지</h3>
<div th:if="${session.userID == null}">
    <button type="button" class="navyBtn" onclick="location.href='login.jsp'">로그인</button>
</div>
<div th:if="${session.userID != null and session.userType == 'student'}">
    <form action="/logout" method="POST">
        <button type="submit" class="navyBtn">Logout</button>
    </form>

    <button type="button" class="navyBtn" onclick="location.href='studentShowClasses.html'">수강 편람</button>
    <button type="button" class="navyBtn" onclick="location.href='studentRegistrations.html'">신청 내역</button>
    <button type="button" class="navyBtn" onclick="location.href='studentTimeTables.html'">시간표</button>
</div>
<div th:if="${session.userID != null and session.userType == 'admin'}">
    <form action="/logout" method="POST">
        <button type="submit" class="navyBtn">Logout</button>
    </form>

    <button type="button" class="navyBtn" onclick="location.href='adminAdmins.html'">Admin 관리</button>
    <button type="button" class="navyBtn" onclick="location.href='adminClassses.html'">수업 관리</button>
    <button type="button" class="navyBtn" onclick="location.href='adminStudents.html'">학생 관리</button>


</div>
</body>
</html>